@font-face {
  font-family:'Fredoka One';
src: url('https://fonts.googleapis.com/css2?family=Fredoka+One');

}

.main {
  width: 800px;
  background-color:rgba(0, 0, 0, 0.5);
  border:white;
  border-style: solid;
  border-radius: 25px;
  margin: 25vh auto;
  

}

h1 {
  text-align: center;
  margin-top: 0px;
  color: orange;
  font-size: 60px;
  font-family: 'Fredoka One', Impact;
}

p {
  color: white;
  font-size: 18px;
  margin-top: -10px;
  margin-left: 10px;
}

.homepage-button {
    margin-left: 350px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100px;
    height: 50px;
    font-size: 23px;
    border-radius: 50%;
    background-color: white;
}

input {
  margin-left: 35%;
  margin-top: 20px;
  margin-bottom: 50px;
}

@media all and (max-width: 425px) {

  .main {
    margin-left: 10px;
    margin-top: 250px;
    width: 350px;
  }

  h1 {
    text-align: center;
    margin-top: 0px;
    color: orange;
    font-size: 40px;
    font-family: 'Fredoka One', Impact;
  }

  p {
    color: white;
    font-size: 18px;
    margin-top: -10px;
    margin-left: 10px;
  }

  button {
    margin-left: 125px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100px;
    height: 50px;
    font-size: 23px;
    border-radius: 50%;
    background-color: white;
  }
}

@media all and (max-width: 1200px) {
  
  .main {
    width: 800px;
    background-color:rgba(0, 0, 0, 0.5);
    margin-left:100px;
    margin-top: 150px;
    border:white;
    border-style: solid;
    border-radius: 25px;
  }
  
  button {
    background-color: white;
  }



}