.Card{
  /* flex: 1 */
}

.Card:hover{
  cursor: pointer;
}

.Card img{
  width: 180px;
  height: 180px;
  border: 3px white solid;
  border-radius: 5px;
  
}



@media all and (max-width: 425px) {

  .Card img{
    width: 100px;
    height: 100px;
    border: 3px white solid;
    border-radius: 5px;
    
  }


}

@media all and (device-width: 1024px) and (device-height: 768px) and (orientation:landscape) {
  
  .Card img{
    width: 130px;
    height: 130px;
    border: 3px white solid;
    border-radius: 5px;
    
  }
  
  



}