.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal {
  position: relative;
  z-index: 100;
  background-color: #000;
  margin: 0;
  border-radius: 3px;
  max-width: 450px;
  padding: 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  outline: 0;
}

.modal-header {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.modal-close-button {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  cursor: pointer;
  border: none;
  background: none;
  padding: 0.2rem;
}

.modal-close-button:hover,
.modal-close-button:focus {
  opacity: 1;
  outline: none;
}

button {
  font-size: 0.9rem;
  font-weight: 700;
  border: none;
  border-radius: 3px;
  padding: 0.3rem 1rem;
  margin-left: 0.5rem;
}

.scoreboard-header {
  margin-top: 20px;
  font-size: 40px;
}

ul {
  color: white;
  list-style-type: none;
  display: flex;
  gap: 30px;
}

.scoreboard-list {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.scoreboard-header-row,
.scoreboard-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 8px 16px;
  border-bottom: 1px solid #ccc;
}

.scoreboard-header-row {
  font-weight: bold;
  background-color: orange;
}

.scoreboard-row {
  text-align: left;
}

.scoreboard-column {
  overflow-wrap: break-word;
  text-align: left; 
  color: white;
}
