.navbar {
background-image: linear-gradient(rgba(0, 0, 0, 0.481), rgba(60, 63, 65, 0.769));
margin-top: -50px;
display: flex;
justify-content:space-between;
}

.welcome-text {
  margin-left: 20px;
  padding: 20px;
}

.pause-button {
  background-color: transparent;
  cursor: pointer;
  width: 20px;
  height: 20px;
  padding: 0;
}

.welcome-text{
  font-size: 20px;
  margin-top:10px;
}

.timer-container {
  display: flex;
  color: white;
  padding: 10px;
  align-items: center;
}

.pause-logo {
  width: 10px;
  height: 10px;
}

.play-logo {
  width: 20px;
  height: 20px;
}