.div-timer {
margin-top: 38vh;
margin: -7vh auto;
}

span{
  font-size: 30px;
  color: white;
  
}

p {
  color:white;
}

.timer-start {
background-color: green;
border-radius: 50%;
padding: 10px;
margin: 5px;
border: 2px white solid;
outline: none;
}

.timer-start:active {
  box-shadow: 10px 5px 5px rgb(24, 65, 24);
}

.timer-pause {
  background-color:yellow;
  border-radius: 50%;
  padding: 10px;
  margin: 5px;
  border: 2px white solid;
  outline: none;
 
  }

  .timer-pause:active {
    box-shadow: 10px 5px 5px rgb(113, 113, 2)
  }

  .timer-reset {
    background-color: red;
    border-radius: 50%;
    padding: 10px;
    margin: 5px;
    border: 2px white solid;
    outline: none;
    }

    .timer-reset:active {
      box-shadow: 10px 5px 5px rgb(97, 26, 26)
    }

    @media all and (max-width: 1200px) {
  
     
      
      
    
    
    
    }