.div-timer {
display: flex;
margin-right: 20px;
}

span{
  font-size: 30px;
  color: white;
  
}

.timer-text {
  color:white;
  font-size: 10px;
}

.timer-button{
  width: 30px;
  height: 30px;
}

.timer-start {
border: 2px white solid;
outline: none;
}

.timer-start:active {
  box-shadow: 10px 5px 5px rgb(24, 65, 24);
}


.timer-pause {
  border: 2px white solid;
  outline: none;
 
  }

  .timer-pause:active {
    box-shadow: 10px 5px 5px rgb(113, 113, 2)
  }

  .timer-reset {
    border: 2px white solid;
    outline: none;
    }

    .timer-reset:active {
      box-shadow: 10px 5px 5px rgb(97, 26, 26)
    }


    @media all and (max-width: 1200px) {
  

      .div-timer {
        margin: -10vh auto;
        }
 
  
  



    }